# Processamento de Dados de Vendas (2022-2024)
Este notebook é dedicado ao tratamento abrangente de dados de vendas abrangendo o período de 2022 a 2024. Sua função principal é padronizar e corrigir os dados brutos de acordo com as regras comerciais estabelecidas, garantindo a integridade e a confiabilidade do conjunto de dados.

In [22]:
# Defininindo o arquivo de trabalho
arquivo = '../data/raw/vendas_22-24.csv'

In [23]:
# Importação das bibliotecas utilizadas.
import pandas as pd
import statistics as sts

In [24]:
# Carregamento do arquivo de dados a ser utilizado.
dados = pd.read_csv(arquivo, delimiter=';')
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Data             10000 non-null  object
 1   Loja             9672 non-null   object
 2   Produto          10000 non-null  object
 3   Categoria        10000 non-null  object
 4   Quantidade       9691 non-null   float64
 5   Preço Unitário   9688 non-null   float64
 6   Total Venda      7979 non-null   float64
 7   Cliente_ID       9732 non-null   float64
 8   Forma_Pagamento  9684 non-null   object
dtypes: float64(4), object(5)
memory usage: 703.3+ KB

In [25]:
# Verificando o padrão de colunas
dados.head()

,Data,Loja,Produto,Categoria,Quantidade,Preço Unitário,Total Venda,Cliente_ID,Forma_Pagamento
0,2022-01-18,Loja B,Refrigerante,Bebidas,3.0,7.50,22.50,6727.0,Dinheiro
1,2024-12-29,Loja B,Leite,Alimentos,5.0,14.74,73.70,2120.0,Transferência
2,2023-03-21,Loja C,Refrigerante,Bebidas,2.0,NaN,72.60,5353.0,Transferência
3,2022-08-03,Loja C,Feijão,Alimentos,4.0,26.75,107.00,6835.0,Transferência
4,2022-06-29,Loja C,Feijão,Alimentos,7.0,30.47,213.29,5824.0,Dinheiro

In [26]:
# contagem de valores nulos.
dados.isnull().sum()

Data                  0
Loja                328
Produto               0
Categoria             0
Quantidade          309
Preço Unitário      312
Total Venda        2021
Cliente_ID          268
Forma_Pagamento     316
dtype: int64

In [27]:
# Verificação dos dados de loja
dados.groupby('Loja').size()

Loja
Loja A    3238
Loja B    3215
Loja C    3219
dtype: int64

In [28]:
# Preenche o valor da loja com o valor de maior recorrência
dados.fillna({'Loja': 'Loja A'}, inplace=True)

In [29]:
# Nova contagem de nulos
dados.isnull().sum()

Data                  0
Loja                  0
Produto               0
Categoria             0
Quantidade          309
Preço Unitário      312
Total Venda        2021
Cliente_ID          268
Forma_Pagamento     316
dtype: int64

In [34]:
dados.loc[(dados['Quantidade'] < 0) | (dados['Quantidade'] > 100)]

,Data,Loja,Produto,Categoria,Quantidade,Preço Unitário,Total Venda,Cliente_ID,Forma_Pagamento
11,2024-10-26,Loja A,Refrigerante,Bebidas,-4.0,16.74,NaN,5087.0,Cartão
67,2024-05-27,Loja C,Detergente,Limpeza,-5.0,13.36,NaN,8280.0,Dinheiro
77,2024-07-26,Loja B,Detergente,Limpeza,-4.0,32.10,NaN,8789.0,Pix
166,2024-02-29,Loja B,Refrigerante,Bebidas,-1.0,42.32,NaN,1634.0,Pix
179,2024-06-13,Loja A,Detergente,Limpeza,-5.0,42.95,NaN,2761.0,Cartão
...,...,...,...,...,...,...,...,...,...
9867,2024-01-08,Loja C,Açúcar,Alimentos,-4.0,44.72,NaN,9766.0,Cartão
9873,2023-12-31,Loja C,Pasta de Dente,Higiene,-1.0,28.69,NaN,8971.0,Dinheiro
9888,2024-06-15,Loja B,Shampoo,Higiene,-2.0,24.56,NaN,3315.0,Cartão
9985,2022-08-10,Loja A,Refrigerante,Bebidas,-5.0,7.88,NaN,7589.0,Cartão
9987,2022-08-21,Loja C,Refrigerante,Bebidas,-1.0,43.05,NaN,7156.0,Transferência